/* regole generali di pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 #wrapper{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    
 }

 body{
    font-family: 'Montserrat', sans-serif;
 }

 li{
    list-style-type: none;
}





/* navigazione parte sinistra */
nav{
    width: 250px;
    height: 100%;
    background-color: #000000;
    color:#555555;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#spotifylogo{
    width: 150px;
    margin-bottom: 25px;
    margin-top: 20px;
}

#logomobile{
    display: none;
}




.icon{
    width: 25px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

#home{
    color: white;
}

/* hover */
.icon :hover {
    color: white;
}

nav span{
    margin-left: 10px;
}

.crea{
    margin-top: 15px;
}

/* hover */
.crea :hover {
    color: white;
}

nav strong{
    color: white;
}


.fa-plus{
    font-size: 20px;
    background-color:#A3A3A3;
    padding: 8px 8px;
    margin-top: 10px;
    color: #000000;
}

/* hover */

.fa-plus:hover{
    background-color: white;
    color: #000000;
}


.playlist li{
    margin-bottom: 20px;
    margin-top: 20px;
}

/* hover */
.playlist li:hover {
    color: white;
}



.riga{
    margin: 10px 0;
    width: 200px;
    border: 1px solid;
    color:#555555 ;
    
}

.profilo{
    margin-bottom: 10px;
}

.datiprofilo{
    display: flex;
    align-items: center;
}


#download{
    width: 15px;
}

/* hover */
.datiprofilo :hover {
   color: white;
}

#omino{
    border-radius: 50%;
    background-color: grey;
    width: 25px;
}

.profilo strong{
    font-size: 15px;
}

.profilo span{
    font-weight: 800;
    align-items: center;
}






/*contenuto principale */
main{
    height: 100%;
    background-color:#141922 ;
    width: calc(100% - 250px);
    overflow: auto;
}

.contenutotrasparente{
    height: 100px;
    width: 100%;
    background-color:#080B12;
    
    
}

.upgrade{
     display: flex;
    justify-content: flex-end; 
}

button{
    color: white;
    border: solid 1px white;
    background-color:transparent;
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 11px;
    padding: 12px 35px;
    border-radius: 20px;
    
}

/* hover */
.upgrade:hover button{
    transform: scale(1.1);

}




/* menu principale */



.generemusicale{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* position: relative; */
    margin-top: 20px;
    color:#7D7F84;
    font-weight: 700;
    gap: 25px;
}



/* hover */
.generemusicale li:hover {
    color: white;
}



/* .green{
    background-color:#A2EF2E;
    width: 40px;
    height: 2px;
    border-radius: 30px;
    margin-left: 475px;
    margin-top: 3px;
    position:absolute;
} */




/* prima lista copertine */

h3{
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: white;
    font-size: 25px;
}

.span{
    color:#555555;
    padding-left: 20px;
    font-weight: 700;
   
}

.white{
    text-align: center;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}

.grey{
    text-align: center;
    color:#555555;
    margin-top: 10px;
    font-weight: 600;
}

.copertine {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    

}

.direzione{
    width: 15%;
}

.contenitore{
    position: relative;
    margin-top: 20px;
    
}

.contenitore img{
   max-width:100%;
    
}

.card {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: none;
}

#place{
    color: white;
    font-size: 50px;
    
}

/* hover */

.contenitore:hover .card{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5) ; 
}




/* seconda lista copertine */

.mix{
    display: flex;
    gap:30px;
    margin-left: 15px;
}

.mixfoto{
    width: 15%;
}

.mixfoto img{
    margin-top: 20px;
    max-width: 100%;
}


/* terza lista copertine */


.circular{
    border-radius: 50%;
}



 /*controller */

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(50, 52, 52);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* navigazione sinistra */


.brano{
  display: flex;
  align-items: center;
}

footer img{
    width: 45px;
    margin-right: 15px;
}

.sinister{
    margin-right: 60px;
}



#artista{
    color: white;
    font-weight: 600;
    font-size: 14px;
}


#nome{
    color: #858585;
    font-size: 10px;
    font-weight: 600;
}


/* hover */
.navsx :hover #nome{
    color: white;
    border-bottom: 1px solid white;
}


.fa-heart{
   color: #858585;
   margin-right: 20px;
   font-size: 22px;
}

.fa-folder{
    color: #858585;
    font-size: 22px;
}

/* hover */
.navsx :hover .fa-heart{
    color: white; 
} 


.navsx :hover .fa-folder{
    color: white;
}

/*  navigazione centrale */

.navcentrale{
    margin-top: 10px;
}


.riproduzione{
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start{
    font-size: 40px;
    margin: 0 20px;
}

/* hover */

.navcentrale :hover #start{
    transform: scale(1.1);
}

.fa-backward-step{
    margin: 0 40px;
}


.fa-forward-step{
    margin: 0 40px;
}

/* barra riproduzione */


.timing{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
}

.timing p{
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.bar{
    background-color:#858585 ;
    width: 600px;
    height: 5px;
    border-radius: 30px;
    margin: 0 40px;
}

.scrolling{
    background-color:white ;
    height: 5px;
    width: 100px;
    border-radius: 30px;
}


.progress {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    left: 22%; 
    display: none;
  }

  /* hover */

  .navcentrale :hover .progress {
   display: block;

  }

/* hover */

.navcentrale :hover .scrolling{
    background-color: #A2EF2E;
}


/* navigazione destra */

.navdx{
    display: flex;
    align-items: center;
}



.settings{
    color: white;
}

.fa-desktop{
    margin: 0 20px;
}

.volume{
    position: relative;
    
}



.barvolume{
    background-color:#858585 ;
    width: 150px;
    height: 5px;
    border-radius: 30px;
    margin-left: 20px;
}

.scrollingvolume{
    background-color: white;
    width: 30px;
    height: 5px;
    border-radius: 30px;
}

.progress-thumb {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%; 
    top: 50%;
    transform: translate(-50%, -50%);
    left: 26%; 
    display: none;
  }

  /* hover */

  .navdx :hover .progress-thumb {
   display: block;

  }



/* hover */
.navdx :hover .scrollingvolume{
    background-color: #A2EF2E;
}



/* 1440px - 1425px: Large screens */
@media (max-width: 1440px) {

}



/* 878px - 864px: Large screens */

@media (max-width: 878px) {

    main{
        width: calc(100% - 210px);
    }
    
    nav{
        width: 210px;
    }

    .generemusicale{
        font-size: 14px;
    }

    .direzione p{
        font-size: 15px;
    }

    .copertine{
        display: flex;
        justify-content: unset;
        gap: 10px;
        margin-left: 20px;
    }

    .direzione{
        width: 23%;
        
    }

    .mix{
        gap: 10px;
    }

    .mixfoto{
        width: 23%;
    }

    .span{
        font-size: 15px;
    }

    footer{
        padding: 0 10px;
    }

    .sinister{
        margin-right: 40px;
    }

    footer img{
        width: 40px;
        margin-right:10px ;
    }

    .fa-heart{
        font-size: 15px;
    }

    .fa-folder{
        font-size: 15px;
    }

    .bar{
        width: 250px;
        margin: 0 20px;
        height: 3px;
    }

    .scrolling{
        height: 3px;
        width: 40px;
    }


    #start{
        margin: 0 10px;
        font-size: 30px;
    }

    .fa-backward-step{
        margin: 0 20px;
        font-size: 20px;
    }

    .fa-forward-step{
        margin: 0 20px;
        font-size: 20px;
    }

    .fa-shuffle{
        font-size:20px
    }

    .fa-arrow-rotate-right{
        font-size: 20px;
    }


    #artista{
        font-size: 12px;
    }

    .fa-bars{
        font-size: 13px;
    }

    .fa-desktop{
        font-size: 13px;
        margin: 0 10px;
    }

    .fa-volume-high{
        font-size: 13px;
    }


    .barvolume{
        width: 120px;
        height: 3px;
    }

    .scrollingvolume{
        height: 3px;
        width: 20px;
    }








}


/* 639px - 624px: Large screens */
@media (max-width: 639px) {

    .direzione{
        width: 46%;
    }
  
    .mixfoto{
        width: 46%;
    }

    .white{
        font-size: 15px;
    }

    .sinister{
        margin-right: 17px;
    }


    #start{
        margin: 0 5px;
    }

    .bar{
        width: 130px;
        margin: 0 10px;
    }

    .scrolling{
        width: 30px;
    }

    .progress {
        left: 32%;
    }

    .timing p{
        font-size: 10px;
    }

    .barvolume{
        width: 95px;
        margin-left: 10px;
    }

    .like{
        display: flex;
        flex-direction: column;
    }

    .fa-heart{
        margin-bottom: 5px;
    }



}


/* 552px - 537px: Large screens */
@media (max-width: 552px) {

#spotifylogo{
    display: none;
}

#logomobile{
    display: block;
    width: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
    
}

nav span{
    display: none;
}

.playlist{
    display: none;
}

.crea{
    display: none;
}

.riga{
    display: none;
}

#omino{
    margin-top: 20px;
}


main{
    width: calc(100% - 50px);
}

nav{
    width: 50px;
    padding-left: 0;
    align-items: center;
}

.datiprofilo{
    justify-content: center;
}

footer img{
    width: 35px;
}

.sinister{
    margin-right: 10px;
}


.fa-backward-step{
    margin: 0 20px;
    font-size: 15px;
}

.fa-forward-step{
    margin: 0 20px;
    font-size: 15px;
}

.fa-shuffle{
    font-size:15px
}

.fa-arrow-rotate-right{
    font-size: 15px;
}

.bar{
    width: 110px;
}

.fa-desktop{
    margin: 0 5px;
}

.barvolume{
    width: 85px;
}


}