/* regole generali di pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* blocco trasparte header */



/* navigazione parte sinistra */




/*contenuto principale */



 /*controller */

#controller {

}